.fa  {
  font-size: 20px;
  margin-left: 20px;
  color: #0570B2;
  }
  #buttonalign i {
    /* margin-bottom: 30px;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 5px 5px 10px grey; */
    font-size: 50px;
    color: black;

  }
  #cardimg{
    width: 180px;
    height: 150px;
  }
  .card {
    width: 180px;
    height: 250px;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px grey;
  }
label{
  font-weight: bold;
}
h5{
  text-align: center;
  font-style: italic;
  color: #A01E63;
  }
  span{
    color: #0570B2;
    font-weight: bold;
  }
