input.ng-invalid.ng-touched{
  border:1px solid red;
}
span{
color: brown;
}
.card {
margin-top: 20px;
box-shadow: 5px 5px 10px grey;
}
label{
color: #0578BB;
}
.fas{
  font-size: 50px;
  color: black;
}
