<div class="sidenav ">
    <div class="text-right" id="logout">
        <a [routerLink]="['/']"><i class="fas fa-sign-out-alt"><span>Logout</span></i></a>
       </div>
    <div class="logoimg  text-center">
        <h1 class=" navbar-brand " >Political App</h1>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShT4IeDM1hqoW-SY_q3WrvniwjzUyaLUIJffeIJv379zfHzY3iCA" height="auto" width="100%">
    </div>
    <a  class="" routerLink="/News">NEWS </a>
    <a routerLink="/Issues">ISSUES </a>
    <a routerLink="/Ideas"> IDEAS</a>
    <a routerLink="/Polls">POLLS </a>
    <a routerLink="/History"> HISTORY</a>
    <a routerLink="/Shop"> SHOP</a>
</div>
